.dropdown-menu {
    background-color: #FAFAF8;
    border: 1px solid #ccc;
    border-radius: 4px;
    max-width: 50rem;
    min-height: 5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1rem;
    min-width: 200px;
}

.space {
    display: flex;
    justify-content: space-between;
    align-items: center;
}