.voice-list-container {
    max-width: 50rem;
    padding: 1rem 0;
    min-width: 200px;
}

.voice-item {
    padding: 1rem;
    margin-bottom: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    transition: background-color 0.3s ease;

}

.loading,
.play-icon {
    padding-right: 1rem;
}

.list-item {
    padding-left: 1rem;
}

.voice-item:hover {
    background-color: #f0f0f0;
}

.voice-item.selected {
    background-color: #e6f7ff;
    border-color: #91d5ff;
}

.voice-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.voice-name {
    font-size: 1.25rem;
    font-weight: bold;
    color: #4F5D9D;
    margin-right: 1rem;
}

.preview-button {
    display: flex;
    justify-content: space-between;
}

.right-side {
    display: flex;
    flex-direction: row;
}

.play-icon {
    font-size: 1.5rem;
    color: #4F5D9D;
    cursor: pointer;
}

.labels-container {
    display: flex;
    padding: 1rem;
    align-items: center;
}


.label {
    display: inline-flex;
    align-items: center;
    padding: 0.25rem 0.5rem;
    font-size: 0.75rem;
    line-height: 1rem;
    border-radius: 9999px;
    margin-right: 0.5rem;
    margin-top: 0.25rem;
    cursor: pointer;
    position: relative;
}

.label::after {
    content: attr(data-label);
    position: absolute;
    top: -1.75rem;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(0, 0, 0, 0.75);
    color: white;
    padding: 0.25rem 0.5rem;
    border-radius: 4px;
    font-size: 0.65rem;
    white-space: nowrap;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.2s ease, visibility 0.2s ease;
    z-index: 10;
}

.label:hover::after {
    opacity: 1;
    visibility: visible;
}

.category {
    background-color: #EBD6D1;
    color: #000;
}

.gender {
    background-color: #F7E3A4;
    color: black;
}

.age {
    background-color: #A6D2A2;
    color: black;
}

.accent {
    background-color: #F7A4A4;
    color: black;
}

.description {
    background-color: #A4A4F7;
    color: black;
}

.use_case {
    background-color: #cfdd4a;
    color: black;
}

.loading {
    font-size: 1rem;
    color: #4F5D9D;
    margin-right: 0.5rem;
}